@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #161617;
    margin: 0px;
    padding: 0px;

    
}


/* Hide the scrollbar */
::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

/* Firefox */
* {
    scrollbar-width: none;
}